<select ng-model="$ctrl.selectedMonth" ng-change="$ctrl.monthSelected()">
  <option ng-repeat="m in $ctrl.months">{{m}}</option>
</select>
<select ng-model="$ctrl.selectedAccount" ng-change="$ctrl.accountSelected()">
  <option value="">All</option>
  <option ng-repeat="a in $ctrl.accounts" value="{{a.id}}">{{a.name}}</option>
</select>

<table class="table">
  <thead>
    <tr>
      <th>Day of transaction</th>
      <th>Source</th>
      <th>Target</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Time of entry</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="t in $ctrl.transactions">
      <td>{{t.on}}</td>
      <td>{{t.fromName}}</td>
      <td>{{t.toName}}</td>
      <td>{{t.amount}}</td>
      <td>{{t.description}}</td>
      <td>{{t.createdAt}}</td>
    </tr>
  </tbody>
</table>
